<div class="row">
  <div class="col-md-12">
    <section>
      <h2 class="center">User page</h2>

      Shortcuts:<br />
      - <a href="/home">Home</a><br />
      - <a href="/home/member">Member (logged in)</a><br />
      - <a href="/home/visitor">Visitor (logged off)</a><br />
      - <a href="/user">User page)</a><br />
      <br />
      <br />

      <button class="btn_user">A user btn that just has one class which use font-awesome in background, that's the power of extend in LESS.</button>
    </section>
  </div>
</div>
