<div class="row">
  <div class="col-md-12">
    <section>
      <h2 class="center">Interface par défaut de l'application.</h2>

      Shortcuts:<br />
      - <a href="/home">Home</a><br />
      - <a href="/home/member">Member (logged in)</a><br />
      - <a href="/home/visitor">Visitor (logged off)</a><br />
      - <a href="/user">User page)</a><br />
      <br />
      <br />
    </section>
  </div>
</div>
