<% if(currentUser.connected){ %>
    <%/* Menu at the left side that show the navigation links. */%>
    <div class="col-sm-3">
      Menu when the user is logged in.
    </div>
<% } %>

<!--MAIN SECTION-->
<section id="global" class="flex-1">

    <section id="main" class="flex" role="main">
        <section class="container">
            <% /* Load the public partial to display a group of messages. */ %>
            <%- partial('../../_partials/displayMessages', {messages: flash.messages}) %>

            <% /* Load the view content, depending on the called url. */ %>
            <%- body %>
        </section>
    </section>
</section>
<!--MAIN SECTION END-->
